/*.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #007bff;
    color: white;
  }*/
  
  /* Menú */
  nav {
    background: #e67e22; /* Naranja oscuro */
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
  }
  
  .enlace {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
  }
  
  nav ul {
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: background-color 0.3s;
  }
  
  li a.active, li a:hover {
    background: #d35400; /* Naranja más oscuro para hover y activo */
  }
  
  .checkbtn {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  /*
  .logo h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav ul li {
    margin-left: 1rem;
  }
  
  .nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav ul li a:hover {
    text-decoration: underline;
  }*/
  /*Footer*/
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
    margin-top: auto;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-nav ul li {
    margin-left: 1rem;
  }
  
  .footer-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .footer-nav ul li a:hover {
    text-decoration: underline;
  }

/* Estilos para el carrusel */
.carousel {
  position: relative;
  width: 70%; /* Ancho reducido al 70% */
  height: 700px; /* Altura aumentada a 600px */
  overflow: hidden;
  margin: 40px auto 0; /* Margen superior y centrado */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.carousel-image {
  width: 100%;
  height: 100%; /* La imagen ocupa todo el espacio del carrusel */
  object-fit: fill; /* Ajusta la imagen para cubrir el espacio sin distorsionarse */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}